{% load static i18n %}
<h2 class="text-capitalize text-center prelist vert-offset-top-2"><em>{% trans 'Device42 is trusted by the brands that you trust' %}</em></h3>
<div class="row text-center vert-offset-bottom-3">
    <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-0">
         <img class="customer-logo grayscale img-responsive" alt="Verizon" src="{% static 'img/customers/verizon.png' %}">
    </div>
    <div class="col-xs-5 col-sm-3">
         <img class="customer-logo grayscale img-responsive" alt="Western Digital" src="{% static 'img/customers/westerndigital.png' %}">
    </div>
    <div class="col-xs-5 col-xs-offset-1 col-sm-offset-0 col-sm-3">
         <img class="customer-logo grayscale img-responsive" alt="Avaya" src="{% static 'img/customers/avaya.png' %}">
    </div>
    <div class="col-xs-5 col-sm-3">
         <img class="customer-logo grayscale img-responsive" alt="Mercedes Benz" src="{% static 'img/customers/mercedesbenz.png' %}">
    </div>
</div>
