node_modules
/env/
/.tmp/
/optimized/
/build/
/.idea/
/.vscode/
.secrets
.DS_STORE
.Python
*.pyc
*.log
*.pot
atlassian-ide-plugin.xml
nohup.out
/app/project/apps/device42/migrations
/dist
/credentials/
