{% load i18n static %}
<div {% if id %}id="{{ id }}" {% endif %}class="row featurette image-left-4x8 {% if vcenter %}is-table-row{% endif %}">
    <div class="col-md-6">
        <img class="featurette-image img-responsive img-rounded box-shadow center-block"
             alt="{% trans 'APIs and Sample Scripts' %}"
             src="{% static 'img/sections/features/discovery/puppet_script.png' %}">
    </div>
    <div class="col-md-6">
        <h2 class="featurette-heading">{% trans "APIs and Sample Scripts" %}</h2>
        <p>{% trans "Write APIs to automate object population in the Device42 appliance. Sample scripts are provided for Windows and Linux nodes along with script language for limited puppet integration using Facter fact files." %}</p>
    </div>
</div>
