{% extends 'base/_base.html' %}
{% load i18n static custom_tags %}
{% block title %}{% trans "Videos" %} - {% trans 'Enterprise Password Management' %}{% endblock %}
{% block meta %}
    <meta name="description" content="{% trans 'Video introduction to Password Management in Device42, the most comprehensive solution for data center infrastructure management.' %}">
{% endblock %}
{% block site_section_support %}active{% endblock %}
{% block body_scripts %}
    <script>
        $(function() {
           D42.embedWistia('uul9xu341e');
        });
    </script>
{% endblock %}
{% block body %}
    <header class="row head-home bg-primary">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <a href="{% url 'videos' %}">
                        <h2 class="h1 flat-top">{% trans "Video Library" %}</h2>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="container vert-offset-bottom-1">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="vert-offset-top-1">{% trans "Enterprise Password Management" %}</h1>
                    <h4 class="font-roboto text-muted">{% trans "Manage network passwords securely with granular permission control." %}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="wistia_embed" id="wistia_video"></div>
                        </div>
                    </div>

                    <hr>
                    <h3 class="prelist">{% trans 'Transcript' %} <i class="fa fa-pencil fa-muted"></i></h3>
                    <article class="video-transcript vert-offset-bottom-2">
                        <p>Hi, this is Marc from Device42, in this video we are going to review password management.</p>

                        <p>Device42's password management features enable you to centrally manage your team's shared
                            logins and passwords. Associate passwords to devices and/or associate with application
                            components. Password security is robust with granular access control for users and groups.
                            Passwords are stored utilizing AES 256 bit encryption, and are also sent to backup files
                            with full encryption.</p>

                        <p>Let's start by adding a new password.</p>
                        <p>The Username field is equivalent to ID or Account name. The Label is the description of this
                            username and password. The password can be added here. Alternatively, you can generate the
                            password. The password generator allows you to specify the password criteria. Including
                            upper and lower case counts, number and special character counts. Let's go ahead and use
                            this password. Next we have the option to associate passwords with one or more devices. We
                            also have the option to associate passwords with one or more application components. Next we
                            have access control options for both users and groups. View only - users and groups have the
                            ability to view this password, but will not have the ability to edit. Next we have the edit
                            access control - users and groups chosen here will have the ability to view and edit this
                            password. The Last Password Change option allow you to specify the date and time when this
                            password was last changed, if not specified, the date and time are automatically recorded
                            when a password is changed here. The First Added date is automatic, tracking the date and
                            time this password record was created. Lastly, all password pages will timeout due to
                            inactivity after one minute, this setting is configurable.</p>

                        <p>Next, let's take a look at how password management is integrated throughout Device42.</p>

                        <p>History is recorded for all activities for each password, and is accessible via the History
                            button found on each password page. All related actions are logged, adds, changes, deletes
                            and even password viewing is logged. All prior passwords are stored encrypted and can be
                            viewed via the View Password page by clicking on Prior Passwords...as shown here. Password
                            history can also be viewed in the master History List by going to Reports | History. This
                            list includes a record of all activity performed on any object in the system, including
                            passwords...and like all lists in Device42, it can be searched, sorted, and filtered.</p>

                        <p>Here we have a device associated with the sharepoint admin account and password. As you can
                            see, the Passwords option is available for this device. Let's click the Passwords
                            button...here I have the option to show the password - note that the password is not shown
                            by default. Passwords are only retrieved for viewing when requested. I also have the option
                            to copy the password without showing it, click Copy, then Control + C or Command + C (for
                            MAC).</p>

                        <p>Next up, let's take a look at creating and scheduling password reports. Password reports
                            enable you to know if a password has or has not changed during a specified time period. </p>
                        <p>Username contains: is optional, but useful when reporting on a specific username and
                            password...and likewise for the Label contains: field. </p>
                        <p>Last Password Change: useful for one-time reports. </p>
                        <p>Options for password changed in the last: 1, 2, 3, 6, or 12 months</p>
                        <p>Options for password NOT having been changed: 1,2,3,6, or 12 months. </p>
                        <p>Choose your report columns, and report sort order. Configure the report schedule. Enter a
                            report name and email recipients. Save & Schedule or Run the report now. </p>

                        <p>This concludes the password management video, thanks for watching!</p>
                    </article>
                </div>
            </div>
            {% include 'partials/try-free-callout.html' %}
        </div>
    </div>
{% endblock %}
