{% extends 'base/_base.html' %}
{% load i18n static custom_tags %}
{% block title %}{% trans "Videos" %}- {% trans 'DCIM Quick Demo' %}{% endblock %}
{% block meta %}
    <meta name="description" content="{% trans 'Quick video demonstration of Device42 DCIM functionality - Data center infrastructure management made simple with Device42' %}">
{% endblock %}
{% block site_section_support %}active{% endblock %}
{% block body_scripts %}
    <script>
        $(function() {
           D42.embedWistia('4wf363hrwr');
        });
    </script>
{% endblock %}
{% block body %}
    <header class="row head-home bg-primary">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-12">
                    <a href="{% url 'videos' %}">
                        <h2 class="h1 flat-top">{% trans "Video Library" %}</h2>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="row bg-alt">
        <div class="container vert-offset-bottom-1">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="flat-top">{% trans "Device42 DCIM Quick Demo" %}</h1>
                    <h4 class="font-roboto text-muted">{% trans "Watch a Quick Device42 DCIM functionality demo. Duration ~ 12 minutes." %}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="wistia_embed" id="wistia_video"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/try-free-callout.html' %}
        </div>
    </div>
{% endblock %}
