{% load i18n static %}
<div {% if id %}id="{{ id }}" {% endif %}class="row featurette image-left-4x8 {% if vcenter %}is-table-row{% endif %}">

    <div class="col-sm-5">
        <img class="img-responsive center-block animated box-shadow"
             src="{% static 'img/sections/features/password-management/password_report.png' %}"
             alt="{% trans 'IT Password Reporting' %}">
    </div>
    <div class="col-sm-7">
        <h2>{% trans "IT Password Reporting" %}</h2>
        <p>{% trans "Device42's IT password reporting capabilities enable organizations to create and schedule custom reports showing what passwords have been changed, and what passwords have not been changed. The result: Better security monitoring and improved audit and compliance management." %}</p>
    </div>
</div>
