{% load i18n static %}
<div {% if id %}id="{{ id }}" {% endif %}class="row featurette image-right-8x4 {% if vcenter %}is-table-row{% endif %}">

    <div class="col-sm-5">
        <img class="img-responsive center-block animated box-shadow"
             src="{% static 'img/sections/features/password-management/password-history.png' %}"
             alt="{% trans 'Password History and Audit Trail' %}">
    </div>
    <div class="col-sm-7">
        <h2>{% trans "Password History and Audit Trail" %}</h2>
        <p>{% trans "Device42 password and history audit trails ensure that every password change is recorded and tracked ensuring full visibility and fail-safe password tracking." %}</p>
        <ul class="checklist">
            <li>{% trans "Device42 logs all actions, providing a built-in, searchable audit trail" %}</li>
            <li>{% trans "Password related actions are logged: adds, changes, deletes, and even password viewing is logged" %}</li>
            <li>{% trans "History is easily accessible via the centralized reports menu, or via the history button found on each password page" %}</li>
            <li>{% trans "All prior passwords are retained in an encrypted fashion" %}</li>
        </ul>
    </div>
</div>
