{% extends 'base/_base.html' %}
{% load i18n static include_partial %}
{% block title %}{% trans "Enterprise Password Management Software" %}{% endblock %}
{% block site_section_features %}active{% endblock %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Centralized enterprise password management software along with comprehensive IT asset management so all the information stays together under one webconsole in Device42 software.' %}"/>
{% endblock %}
{% block body %}
    <header class="row head-home bg-info">
        <div class="container">
            <div class="row featurette is-table-row">
                <div class="col-sm-8">
                    <span class="section-label">{% trans "Features Tour" %}</span>
                    <h1 class="featurette-heading">{% trans "Enterprise Password Management" %}</h1>
                    <p>{% trans "Device42's enterprise IT password management software centrally and securely manages shared passwords used between IT teams." %}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="checklist font-stack-condensed">
                                <li>{% trans "Auto-generate secure passwords" %}</li>
                                <li>{% trans "Automatic logout on inactivity" %}</li>
                                <li>{% trans "Easy search features" %}</li>
                                <li>{% trans "Securely Copy passwords to clipboard without displaying them" %}</li>
                                <li>{% trans "Optionally assign password to multiple devices" %}</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="checklist font-stack-condensed">
                                <li>{% trans "AES 256 bit encryption" %}</li>
                                <li>{% trans "Permission control per password" %}</li>
                                <li>{% trans "Passwords are encrypted for both storage and backup" %}</li>
                                <li>{% trans "Password are not in HTML views and are only retrieved when requested" %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="featurette-image img-responsive box-shadow center-block"
                         alt="{% trans 'Enterprise Password Management' %}"
                         src="{% static 'img/sections/features/password-management/password_management.png' %}">
                </div>
            </div>
        </div>
    </header>

    <div class="row bg-warning feature-menu-wrap flat-top flat-bottom">
        <div class="feature-menu">
            <a href="#" data-jump="#granularperms" data-offset="top-nav">{% trans "Granular Permissions" %}</a>
            <a href="#" data-jump="#passwordgen" data-offset="top-nav">{% trans "IT Password Generator" %}</a>
            <a href="#" data-jump="#historyaudittrail" data-offset="top-nav">{% trans "History and Audit Trail" %}</a>
            <a href="#" data-jump="#passwordreporting" data-offset="top-nav">{% trans "IT Password Reporting" %}</a>
        </div>
    </div>

    <div class="container featurette-wrap">
        {% include_partial "partials/password-management/granular-permission-control.html" vcenter=True id="granularperms" %}
        {% include_partial "partials/password-management/it-password-generator.html" image="left" vcenter=True id="passwordgen" %}
        {% include_partial "partials/password-management/password-history-audit-trail.html" vcenter=True id="historyaudittrail" %}
        {% include_partial "partials/password-management/it-password-reporting.html" image="left" vcenter=True id="passwordreporting" %}
        <div class="row foot-nav">
            <div class="col-xs-6 text-left">
                <small class="text-uppercase text-muted">{% trans 'Previous' %}</small>
                <br>
                <a href="{% url 'features_software_license' %}"><i
                        class="fa fa-chevron-left"></i> {% trans 'Software License Management' %}
                </a>
            </div>
            <div class="col-xs-6 text-right">
                 <small class="text-uppercase text-muted">{% trans 'Next' %}</small>
                <br>
                <a href="{% url 'features_integrations' %}">{% trans 'Integrations' %} <i
                        class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}


