{% load i18n static %}
<div {% if id %}id="{{ id }}" {% endif %}class="row featurette image-{{ image|default:'right' }}-5x7 {% if vcenter %}is-table-row{% endif %}">
    <div class="col-sm-6">
        <img class="img-responsive center-block"
             src="{% static 'img/sections/product/mascots_speech_bubbles_wide.png' %}"
             alt="{% trans 'Centrally Manage Shared Accounts and Passwords' %}">
    </div>
    <div class="col-sm-6">
        <h2>{% trans "Centrally Manage Shared Accounts and Passwords" %}</h2>
        <ul class="checklist font-stack-roboto bullet-blue tight">
            <li>{% trans "Take control of who has access to what systems" %}</li>
            <li>{% trans "Ensure that data center teams have the information they need, when they need it" %}</li>
            <li>{% trans "Map service accounts and secrets to devices and applications" %}</li>
            <li>{% trans "Protect account and password information with granular access controls" %}</li>
            <li>{% trans "Track password views, expiration dates, and password changes" %}</li>
            <li>{% trans "And yes...keep the auditors happy, happy, happy!" %}</li>
        </ul>
    </div>
</div>
