{% extends 'base/_base.html' %}
{% load i18n static %}
{% block title %}
    {% trans "Choosing the right CMDB for your IT Infrastructure" %}
{% endblock %}
{% block meta %}
    <meta name="description"
          content="A simple comparison and overview of CMDB alternatives, along with reviews to help you make the right choice."/>
{% endblock %}
{% block site_section_compare %}active{% endblock %}
{% block body %}
    <header class="row bg-primary head-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans "Choosing the right CMDB" %}</h1>
                    <h4 class="text-white text-italic">{% trans "A simple comparison (including reviews) to help you make the right choice." %}</h4>
                </div>
            </div>
        </div>
    </header>
    <div class="row bg-info padded">
        <div class="container">
            <div class="infobox shadow-1 col-sm-10 col-sm-offset-1">
                <p>{% trans "If you've been looking at tools for managing your IT infrastructure, you've probably seen a lot of options." %}</p>
                <p>{% trans "From regular old Excel to the fanciest enterprise CMDB tools, there are dozens of alternatives out there that promise that they'll help you track your complex web of IT inventory and give you visibility into its complex relationships." %}</p>
                <p>{% trans "We want to make your decision as easy as possible, so we've put together some info that will help you decide which option is best for you." %}</p>
                <p>{% trans "Below, you'll find details on the differences between Device42, Excel, and enterprise CMDBs like Servicenow and BMC, including features, customer experience, pricing and thoughts from current Device42 customers who have made the switch." %}</p>
                <p class="prelist">{% trans "We hope this helps…" %}</p>
            </div>
        </div>
    </diV>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="flat-top">{% trans "Simplicity" %}</h2>
                <p>{% trans "At one end of the spectrum, Excel (maybe augmented by Visio) is the absolute simplest solution. It's what you've been using for years, and it's what you know best." %}</p>
                <p>{% trans "The problem that many teams run into is that Excel can be too simple." %}</p>
                <p>{% trans "You end up with lots and lots of sheets and as you start tracking complex relationships between different configuration items, Excel just can't handle it.  And even if it could, the explosion of assets caused by virtualization, cloud computing, and software-defined networks and storage results in an unreasonably large manual effort to keep it up to date." %}</p>
                <p>{% trans "On the other end, enterprise CMDB tools like Servicenow and BMC offer tons of features." %}</p>
                <p>{% trans "While that may make them feature-rich, it certainly doesn't make them simple." %}</p>
                <p>{% trans "In fact, we started Device42 precisely because we were tired of having to build the relationships one by one, hire a consulting agency to help do the setup and then see it all fall apart because it was too tough to keep the information up-to-date." %}</p>
                <p>{% trans "We built Device42 with pre-defined relationships so you can't implement quickly and powerful auto-discoveries so you don't have to worry about your data being stale. " %}</p>
                <p>{% trans "On top of that, we added a simple interface and powerful reporting so you don't have to navigate a maze of features you don't need." %}</p>
                <p>{% trans "And if you ever want to enhance Device42 beyond the core CMDB, you can do that with custom fields, custom form layouts, and rich REST based API." %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a href="{% static 'img/sections/compare/web-based-rack-layout-with-drag-and-drop.gif' %}"
                   data-featherlight="image">
                    <img class="img-responsive center-block box-shadow vert-offset-bottom-1"
                         src="{% static 'img/sections/compare/web-based-rack-layout-with-drag-and-drop.gif' %}"
                         alt="{% trans 'Simplicity' %}">
                </a>
            </div>
            <div class="col-xs-6">
                <a href="{% static 'img/sections/compare/patch-panel-create-connection.gif' %}"
                   data-featherlight="image">
                    <img class="img-responsive center-block box-shadow"
                         src="{% static 'img/sections/compare/patch-panel-create-connection.gif' %}"
                         alt="{% trans 'Simplicity' %}">
                </a>
            </div>
        </div>
        <div class="row flat-bottom flat-top">
            <div class="col-md-12">
                <h2>{% trans "Auto-discovery" %}</h2>
                <p>{% trans "Talk about beating a horse to death :) While you may be saying enough already about auto-discovery <em>(and many enterprise tools claim to have auto-discovery built-in)</em>, there are key differences:" %}</p>
                <ul class="dash bullet-gray">
                    <li><span
                            class="prelist text-primary">{% trans "Device42 is agentless." %}</span> {% trans "You don’t have to find every device and put an agent on it.  Device42 finds them for you without agents." %}
                    </li>
                    <li class="vert-offset-top-1"><span
                            class="prelist text-primary">{% trans "Holistic approach." %}</span> {% trans "Device42 connects to your network devices, hypervisors (VMware, HyperV, Citrix, Xen, Openstack, Cloudstack, and more), Cloud platforms (Amazon, Azure, Joyent, Linode, Digital Ocean and more), blade systems, UCS, IPMI, DNS, Windows, Linux & Unix OS’s and correlates the interrelationships and dependencies automatically. For example, if Device42 finds a mac address on a switch port from a network device, it correlates that with a Windows VM which is on a blade sitting in a particular slot in a chassis. And it finds what services are on that machine and calculates the dependencies on other machines/services on your network." %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <a href="{% static 'img/sections/compare/vmware-auto-discovery.png' %}" data-featherlight="image">
                    <img class="img-responsive center-block box-shadow"
                         src="{% static 'img/sections/compare/vmware-auto-discovery.png' %}"
                         alt="{% trans 'Auto-discovery' %}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Visualizations" %}</h2>
                <p>{% trans "Admit it - you manage a complex IT Infrastructure. Keeping that Visio file up-to-date hasn't happened recently and may never happen. Device42 provides infrastructure visualizations that make Visio-like diagrams available at your finger tips - all dynamically generated without manual effort." %}</p>
                <p>{% trans "Complex service to service relationships, rack layouts, room capacity heatmaps, applications dependency maps, and IP and power chain maps are some of the things that Device42 provides and most of it is automatically laid out for you.  These tools help you make effective business decisions with right data presented in the right way." %}</p>
            </div>
        </div>
        <div class="row flat-top flat-bottom">
            <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                <a href="{% static 'img/sections/compare/impact_chart.png' %}" data-featherlight="image">
                    <img class="img-responsive center-block box-shadow" style="max-height:220px;width:auto!important;"
                         src="{% static 'img/sections/compare/impact_chart.png' %}" alt="{% trans 'Impact Charts' %}">
                </a>
            </div>
            <div class="col-xs-6 col-sm-5 col-sm-offset-0">
                <a href="{% static 'img/sections/compare/ip-address-tracking-software.png' %}"
                   data-featherlight="image">
                    <img class="img-responsive center-block box-shadow" style="max-height:220px;width:auto!important;"
                         src="{% static 'img/sections/compare/ip-address-tracking-software.png' %}"
                         alt="{% trans 'IP Address Tracking Software' %}">
                </a>
            </div>
        </div>
        <div class="row flat-top flat-bottom">
            <div class="col-md-12">
                <h2>{% trans "Integrations" %}</h2>
                <p>{% trans "A true CMDB should not be an isolated application.  You likely have monitoring tools, automation tools, ticketing tools, finance tools, and so on that can benefit from the information in your CMDB.  Many enterprise CMDBs make these integrations time consuming and expensive. With Device42, you get a lot of integrations out of the box plus REST APIs that make it a breeze to integrate with other tools." %}</p>
            </div>
        </div>
        {% include 'partials/integration-logos.html' %}
        <div class="row flat-top flat-bottom">
            <div class="col-md-12">
                <h2>{% trans "Pricing" %}</h2>
                <p><span
                        class="prelist text-primary">{% trans 'We get it' %}:</span> {% trans "Excel is free. Free is a great price." %}
                </p>
                <p>{% trans "But we believe that the value you'll get from Device42 far outweighs the cost." %}</p>
                <p>{% trans "And more than a thousand happy users in 33 countries agree. If our auto-disovery and collaboration features can save your team just ten hours per month, then Device42 will more than pay for itself." %}</p>
            </div>
        </div>

        {# TODO: Quote Slider #}
        {% include 'partials/try-free-callout.html' %}
    </article>

{% endblock %}
