{% extends "base/_base-landing.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Easily add this free module to your Zendesk installation via the Zendesk Marketplace, and begin including accurate Device42 CI in your Zendesk tickets today!' %}"/>
{% endblock %}

{% block title %}{% trans "Enhance ITSM with the Zendesk / Device42 CMDB plugin" %}{% endblock %}

{% block landingHeadingText %}
    {% trans "Enhance ITSM with the" %} Zendesk / Device42 {% trans "CMDB plugin" %}
{% endblock %}
{% block landingLeadText %}{% trans 'Easily add this free module to your Zendesk installation via the Zendesk Marketplace, and begin including accurate Device42 CI in your Zendesk tickets today!' %}{% endblock %}
{% block landingfeature %}
    <div class="row image-right-8x4 is-table-row">
    <div class="col-sm-5">
            <img src="{% static 'img/landing/zendesk/zendesk_link-items.png' %}"
                 class="center-block img-responsive img-border"
                 alt="{% trans 'Link CMDB items to issues in Zendesk' %}">
        </div>
        <div class="col-sm-7">
            <h2 class="text-capitalize light-weight">Device42 / Zendesk {% trans "connector at a glance" %}</h2>
            <ul class="bullet-blue light-weight">
                <li>{% trans 'Associate configuration items (CIs) from Device42, including devices, racks, parts, and PDUs with Zendesk tickets' %}</li>
                <li>{% trans 'View device type, service level, and serial numbers from Device42 directly in Zendesk' %}</li>
                <li>{% trans 'Click through from Zendesk to view the CI details in Device42' %}</li>
                <li>{% trans 'Add Device42 items as a column in Zendesk to see CIs in list view' %}</li>
            </ul>
            <h2 class="text-capitalize light-weight">{% trans "Link CMDB items to issues in Zendesk" %}</h2>
            <p class="alt-font">{% trans "Now you can associate auto-discovered IT assets (or Configuration Items, CI) including devices, parts, PDUs and racks from Device42 with Zendesk tickets. Within Zendesk, Device42 Configuration Items can be directly selected when creating a Zendesk ticket." %}</p>
        </div>
    </div>
{% endblock %}


{% block maincontent %}
    <section class="row image-right-8x4 is-table-row">
        <div class="col-sm-4">
            <img src="{% static 'img/landing/zendesk/zendesk_view-ci.png' %}"
                 class="img-responsive center-block box-shadow"
                 alt="{% trans 'View CI details from Zendesk tickets' %}">
        </div>
        <div class="col-sm-8">
            <h3 class="text-muted light-weight">{% trans 'View CI details from Zendesk tickets' %}</h3>
            <p class="alt-font">{% trans 'With the Device42 Zendesk connector, detailed device information from Device42 (such as serial number, asset number, and hardware model) for that Configuration Item can be viewed directly from within Zendesk. Similarly, you can see the associated info for other CI types. Conversely, the CI in Zendesk is a link to view the Device42 page for that Configuration Item, enabling quick navigation to a detailed view of a given configuration items details in Device42.' %}</p>
        </div>
    </section>
    <section class="row image-left-4x8 is-table-row">
     <div class="col-sm-5">
            <img class="img-responsive box-shadow center-block"
                 alt="{% trans 'Add Device42 items as columns within Zendesk' %}"
                 src="{% static 'img/landing/zendesk/zendesk_add-as-column.png' %}">
        </div>
        <div class="col-sm-7">
            <h3 class="text-muted light-weight">{% trans "Add items as columns within Zendesk" %}& <em>{% trans "and view CIs in list view" %}!</em></h3>
            <p class="alt-font">{% trans "If you add a Device42 column to Zendesk, you will be able to see detailed information about each linked CI within the ticket. You are also able to follow the link to jump directly to the CI details within Device42." %}</p>
            <p class="alt-font">{% trans 'You can also create a custom view in Zendesk to associate Device42 CIs with your tickets. To do so, simply open your Zendesk settings by clicking the gear in the bottom left, click <em>Views</em>, then <strong>Add View</strong> and drag <strong>Device42 CI</strong> from the<em> Columns not included in the table</em> column to the <em>Columns included in the table</em> column.' %}</p>
        </div>

    </section>

    <section class="row">
        <h3 class="text-italic light-weight text-center text-muted">{% trans 'Now when viewing your tickets, you will also see the associated Device42 CI right in the main view' %}!</h3>
        <img class="img-responsive img-border center-block" alt="{% trans 'Device42 - Zendesk Integration' %}" src="{% static 'img/landing/zendesk/zendesk_ticket-view.png' %}">
    </section>
    <section class="row padded vert-offset-top-1">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="bg-info well-lg">
                <i class="fa fa-info-circle fa-2x pull-right"></i>
                <h4 class="">{% trans "Download the Zendesk Device42 CMDB connector for better ITSM Today!" %}</h4>
                <p class="flat-bottom">{% trans 'The Zendesk / Device42 connector can be found in the' %} <a
                        href="https://www.zendesk.com/apps/device42/" target="_blank" class="ext-link">Zendesk Apps
                    Marketplace</a></p>
            </div>
        </div>
    </section>
{% endblock %}
