{% extends "base/_base-landing.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Comprehensive network discovery tool for automated IT infrastructure management.' %}"/>
{% endblock %}

{% block title %}{% trans "Network Discovery Tool" %}{% endblock %}
{% block landingHeadingText %}{% trans "Comprehensive Network Discovery Tool" %}{% endblock %}
{% block landingfeature %}
    <h3 class="flat-top flat-bottom text-muted">{% trans "Map your physical, virtual and cloud networks automatically with agent-less discovery" %}</h3>
    <section class="row">
        <div class="col-xs-8">
            <h4 class="text-dark-blue">{% trans "Device42 can comprehensively discover your whole network by using different auto-discovery methods as explained below and correlating the information together" %}:</h4>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-7">
            <ul class="dash">
                <li>{% trans "SNMP v1/v2/v3 Discovery:" %}</li>
                <ul>
                    <li>{% trans "Network switches, routers and firewalls" %}</li>
                    <li>{% trans "Load balancers such as big IP F5 and Cisco NetScalar" %}</li>
                    <li>{% trans "Blade systems to get chassis/blade systems info" %}</li>
                    <li>{% trans "Discovery and monitoring of power devices like PDUs, UPS, CRAC, etc..." %}</li>
                    <li>{% trans "Console switches, fiber switches, SAN switches, etc..." %}</li>
                </ul>
                <li>{% trans "WMI based discovery for windows based machines (and servers)" %}</li>
                <li>{% trans "SSH based discovery for different UNIX and LINUX flavors." %}</li>
                <li>{% trans "Hypervisor and VMs discovery with support for all major virtualization platforms" %}</li>
                <li>{% trans "Cloud discovery support for Amazon, Azure, Joyent, Linode, Digital Ocean etc." %}</li>
                <li>{% trans "Cisco UCS" %}</li>
                <li>{% trans "DNS sync and ping sweep for network discovery" %}</li>
                <li>{% trans "Connect to external tools like puppet, chef, Microsoft SCCM, monitoring systems to get inventory data" %}</li>
                <li>{% trans "IPMI discovery for BMC boards" %}</li>
            </ul>
        </div>
        <div class="col-sm-5">
            <img src="{% static 'img/sections/solutions/network-discovery-01.png' %}"
                 alt="{% trans 'Switch Port Map Visualization' %}" class="img-responsive">
        </div>
    </section>
{% endblock %}

{% block maincontent %}
    <h3 class="sub-heading">{% trans "Network SNMP Discovery" %}</h3>
    <p>{% trans "Device42 enables SNMP discovery for network devices and more. SNMP discovery provides comprehensive capabilities to identify and track physical and logical components, and their relationship interdependencies." %}</p>
    <section class="row is-table-row">
        <div class="col-sm-4">
            <img src="{% static 'img/landing/discovery/snmp_network_discovery.png' %}" class="img-responsive img-border"
                 alt="{% trans 'SNMP Network Discovery' %}"/>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="dash">
                        <li>{% trans "Switch/Router/Firewall inventory" %}</li>
                        <li>{% trans "IP to MAC address relationships" %}</li>
                        <li>{% trans "MAC address to switch port relationships" %}</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="dash">
                        <li>{% trans "VLANs/Subnets" %}</li>
                        <li>{% trans "SNMP v1/v2c/v3 supported" %}</li>
                        <li>{% trans "Discover CDP/LLDP neighbors" %}</li>
                        <li>{% trans "Custom discovery scheduling" %}</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section class="row padded">
        <div class="col-sm-7">
            <h3 class="sub-heading">{% trans "Load Balancer Discovery" %}</h3>
            <p>{% trans "Using SNMP, Device42 connects to your load balancer and does the following:" %}</p>
            <ol class="styled">
                <li>{% trans "Discovers basic inventory info such as hardware model, serial number, hostname, OS details, and more!" %}</li>
                <li>{% trans "Discovers virtual servers, pools and member nodes" %}</li>
                <li>{% trans "Maps the discovered member nodes with auto-discovered devices using other auto-discovery methods." %}</li>
                <li>{% trans "Automatically creates detailed dependency maps for virtual servers." %}</li>
            </ol>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive center-block" alt="{% trans 'Load Balancer Discovery' %}"
                 src="{% static 'img/sections/solutions/load-balancer-autodiscovery.png' %}">
        </div>
    </section>

    <section class="row is-table-row padded">
        <div class="col-sm-6">
            <img class="img-responsive img-border" src="{% static 'img/sections/solutions/network-discovery-02.png' %}"
                 alt="{% trans 'Hypervisors and Virtual Machine Discovery' %}">
        </div>
        <div class="col-sm-6">
            <h3 class="sub-heading">{% trans "Hypervisors and Virtual Machines Discovery" %}</h3>
            <p>{% trans "Device42 connects natively to the hypervisors listed below to automatically gather host and VM details.  Device42 schedules the discoveries to keep the VM documentation up-to-date as VMs migrate between hosts. Supported platforms include:" %}</p>

            <div class="row">
                <div class="col-xs-6">
                    <ul class="dash">
                        <li>{% trans "VMware vCenter and/or ESXi" %}</li>
                        <li>{% trans "Citrix Xen" %}</li>
                        <li>{% trans "oVirt/Redhat" %}</li>
                        <li>{% trans "KVM/Xen/libvirt" %}</li>
                        <li>{% trans "OpenVZ" %}</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="dash">
                        <li>{% trans "LXC" %}</li>
                        <li>{% trans "Docker (coming soon)" %}</li>
                        <li>{% trans "Cloudstack" %}</li>
                        <li>{% trans "Openstack" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="row padded">
        <div class="col-sm-6">
            <h3 class="sub-heading">{% trans "Cisco UCS Manager Auto-discovery" %}</h3>
            <p>{% trans "Device42 connects natively with Cisco UCS Manager to automatically populate chassis, blades, and service profile information.  This enables powerful search within Device42 and automatic service profile to blade device correlations." %}</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive img-border" alt="{% trans 'Cisco UCS Manager Auto-discovery' %}"
                 src="{% static 'img/sections/solutions/network-discovery-03.png' %}">
        </div>
    </section>

    <section class="row padded">
        <div class="col-sm-6">
            <img class="img-responsive img-border" alt="{% trans 'Cloud Discovery' %}"
                 src="{% static 'img/sections/solutions/network-discovery-05.png' %}">
        </div>
        <div class="col-sm-6">
            <h3 class="sub-heading">{% trans "Cloud Discovery" %}</h3>
            <p>{% trans "Discover your cloud instances and services with support for Amazon AWS, Windows Azure, Linode, DigitalOcean, Joyent, and more under development!" %}</p>
        </div>
    </section>

    <section class="row vert-offset-top-1">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6 padded">
                    <div style="display:block;text-align:center;margin-bottom:12px;"><i class="fa fa-windows fa-4x"
                                                                                        style="color:#cecece;"></i>
                    </div>
                    <h4 class="">{% trans "Agentless Auto-Discovery for Windows" %}</h4>
                    <p class="font-stack-condensed">{% trans "No need to install agents on your windows machines to keep your inventory info up-to-date. Our agentless tool can natively collect inventory data via WMI!" %}</p>
                </div>
                <div class="col-xs-6 padded">
                    <div style="display:block;text-align:center;margin-bottom:12px;"><i
                            class="fa fa-linux fa-4x center-block" style="color:#cecece;"></i></div>
                    <h4>{% trans "Agentless Auto-Discovery for Linux" %}</h4>
                    <p class="font-stack-condensed">{% trans "Also discover your unix and linux platforms like Solaris, AIX, Redhat, CentOS, Ubuntu, Suse Linux, BSD, and more!" %}</p>
                </div>
            </div>
            <hr>
            <p class="h4 ul-heading gray">{% trans "Data collected includes:" %}</p>
            <ul class="dash">
                <li style="font-size:90%;">{% trans "Basic inventory information <small>(hostname, serial number, hardware model, CPU/memory/harddisk details)</small>" %}</li>
                <li style="font-size:90%;">{% trans "Operating System with version number and build information" %}</li>
                <li style="font-size:90%;">{% trans "IP and MAC addresses with relations between them <small>(Automatically correlates to corresponding switch ports)</small>" %}</li>
                <li style="font-size:90%;">{% trans "Installed software <small>(including version number and installation date)</small>" %}</li>
                <li style="font-size:90%;">{% trans "All services <small>(running or stopped)</small>" %}</li>
                <li style="font-size:90%;">{% trans "Listening ports for all the services and remote connections" %}</li>
                <li style="font-size:90%;">{% trans "Service-to-service IP, port maps, and application dependency maps" %}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive img-border" alt="{% trans 'Auto-Discovery Utility' %}"
                 src="{% static 'img/sections/solutions/autodiscovery-screen.png' %}">
        </div>
    </section>

    <section class="padded">
        <h3 class="sub-heading">{% trans "DNS Sync and Ping Sweep" %}</h3>
        <p>{% trans "Connect to any DNS servers with zone transfers and correlate IPs with your DNS records automatically.  Also, you can use ping sweep to augment your network discovery to get IPs, MACs, reverse-DNS, and more." %}</p>
    </section>

    <section class="row">
        <div class="col-sm-5">
            <img class="img-responsive img-border" alt="{% trans 'Other SNMP and IPMI Auto-Discovery' %}"
                 src="{% static 'img/sections/solutions/autodiscover-other-snmp.png' %}">
        </div>
        <div class="col-sm-7">
            <h3 class="sub-heading">{% trans "Other SNMP and IPMI Auto-Discovery" %}</h3>
            <p>{% trans "SNMP discovery extends to blade systems like IBM, HP, Dell, Fujitsu, and Sun to get chassis and blade level data.  Features also include storage machine inventory data collection, and support for console switches and other SNMP-based devices." %}</p>
        </div>
    </section>

    <section class="row padded">
        <div class="col-sm-7">
            <h3 class="sub-heading">{% trans "External Integrations and REST APIs" %}</h3>
            <p>{% trans "Using our out of box integrations with Puppet, Chef, Microsoft SCCM, Infoblox, Splunk, Servicenow and many more, you can bring in your data discovered by other systems.  You can use REST APIs to customize what data you want to send to Device42." %}</p>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive img-border" alt="{% trans 'REST APIs' %}"
                 src="{% static 'img/sections/solutions/network-discovery-11.png' %}">
        </div>
    </section>
    <section class="row landing-section">
        <div class="col-sm-12 col-md-6">
            <img class="img-responsive center-block" alt="{% trans 'Device42 Solution Components' %}" src="{% static 'img/sections/features/cmdb/Solution-Components.png' %}">
        </div>
        <div class="col-sm-12 col-md-6">
            <h3 class="sub-heading"><em>{% trans "See" %} <strong style="font-style:normal;">IT</strong> {%trans "All in One Place" %}!</em></h3>
            <p>{% trans "Once your data is loaded, it's time to reap the benefits. Device42 offers an extensive and highly-customizable set of reports and inquiry screens to access your CI data. But even better, Device42 provides an extensive set of visualizations including:" %}</p>
            <ul class="dash">
                <li>{% trans "Your computer rooms and racks with power and capacity heatmaps" %}</li>
                <li>{% trans "Your full IP connectivity and power chain" %}</li>
                <li>{% trans "Your hardware, software, and application dependencies" %}</li>
            </ul>
            <p>{% trans "Device42's CMDB provides a <em>single source of truth</em> within your organization.  This gives you a clear view into your IT ecosystem to identify, manage, and verify all configuration items (CI) in your environment." %}</p>
        </div>
    </section>
{% endblock %}
