{% extends "base/_base-landing.html" %}
{% load i18n static %}
{% block meta %}
	<meta name="description" content="{% trans 'Centralized enterprise password management software along with comprehensive IT asset management so all the information stays together under one web console in Device42 software.' %}"/>
{% endblock %}

{% block title %}{% trans "Centralized Password Management" %}{% endblock %}

{% block landingHeadingText %}{% trans "Centralized Password Management" %}{% endblock %}
{% block landingLeadText %}{% trans "Device42's enterprise IT password management software centrally and securely manages shared passwords used between IT teams" %}.{% endblock %}

{% block landingfeature %}
    <section class="row landing-section">
        <div class="col-sm-7">
            <ul class="checklist clean">
                <li>{% trans "AES 256 bit encryption" %}</li>
                <li>{% trans "Permission control per password" %}</li>
                <li>{% trans "Passwords are encrypted for both storage and backup" %}</li>
                <li>{% trans "Password are not in HTML views and are only retrieved when requested" %}</li>
                <li>{% trans "Copy passwords to clipboard without displaying them" %}</li>
                <li>{% trans "Auto-generate secure passwords" %}</li>
                <li>{% trans "Automatic logout on inactivity" %}</li>
                <li>{% trans "Easy search features" %}</li>
                <li>{% trans "Optionally assign password to multiple devices" %}</li>
                <li>{% trans "Complete audit log for each access and change" %}</li>
                <li>{% trans "All prior passwords are retained in an encrypted fashion" %}</li>
                <li>{% trans "Reporting for better security monitoring and improved audit and compliance management" %}</li>
            </ul>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive center-block" src="{% static 'img/landing/password_management.png' %}">
        </div>
    </section>
{% endblock %}

{% block maincontent %}
    <section class="row landing-section">
        <div class="col-sm-5">
            <h3 class="section-heading">{% trans "Password History and Audit Trail" %}</h3>
            <p class="lead-text">{% trans "Device42 password and history audit trails ensure that every password change is recorded and tracked ensuring full visibility and fail-safe password tracking" %}.</p>
        </div>
        <div class="col-sm-7">
            <img class="img-responsive center-block" src="{% static 'img/sections/features/history-log.png' %}">
        </div>
    </section>
    <section class="row landing-section">
        <div class="col-sm-7">
            <h3 class="section-heading">{% trans "Granular Permission Control" %}</h3>
            <p class="lead-text">{% trans "Device42's network password manager controls who can view and change passwords at the global or per-password level" %}.</p>
            <ul class="square-style">
                <li>{% trans "Users who can view the password" %}</li>
                <li>{% trans "Groups who can view the password" %}</li>
                <li>{% trans "Users who can view and edit the password" %}</li>
                <li>{% trans "Groups who can view and edit the password" %}</li>
            </ul>
        </div>
        <div class="col-sm-5">
            <img class="img-responsive center-block" src="{% static 'img/landing/granular_permissions_per_password.png' %}">
        </div>
    </section>
    <section class="row landing-section">
        <div class="col-sm-5">
            <h3 class="section-heading">{% trans "IT Password Reporting" %}</h3>
            <p class="lead-text">{% trans "Device42's IT password reporting capabilities enable organizations to create and schedule custom reports showing what passwords have been changed, and what passwords have not been changed" %}.</p>
            <p><em>{% trans "The result" %}</em>: {% trans "Better security monitoring and improved audit and compliance management" %}.</p>
        </div>
        <div class="col-sm-7">
            <img class="img-responsive center-block" src="{% static 'img/sections/features/password-management/password_report.png' %}">
        </div>
    </section>

{% endblock %}