{% load i18n static custom_tags %}
{% lang_code as context_language %}
<!doctype html>
<html lang="{{ context_language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8">
    <meta name='author' content='Device42'>
    <meta name="robots" content="noindex, nofollow">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>{% block title %}{% endblock %} | Device42 Software</title>
    <meta property='og:url' content='http{% if request.is_secure %}s{% endif %}:{{ request.build_absolute_uri }}'>
    <meta property='og:type' content='website'>
    <meta property='og:image' content='{{ STATIC_DOMAIN }}{% static "img/branding/device42-logo-400x400.png" %}'>
    <meta property='og:title' content='Continuous Discovery for your IT Infrastructure | Device42'>
    <meta property='og:description'
          content="{% trans 'Automatically maintain an up-to-date inventory of your physical, virtual, and cloud servers and containers, network components, software/services/applications, and their inter-relationships and inter-dependencies.' %}">
    {% block meta %}{% endblock %}
    {% block icons %}
        <link rel='shortcut icon' href='{% static "img/favicon.png" %}'>
        <link rel='apple-touch-icon' href='{% static "img/apple-touch-icon.png" %}'>
        <link rel='apple-touch-icon' sizes='57x57' href='{% static "img/apple-touch-icon-57x57.png" %}'>
        <link rel='apple-touch-icon' sizes='72x72' href='{% static "img/apple-touch-icon-72x72.png" %}'>
        <link rel='apple-touch-icon' sizes='114x114' href='{% static "img/apple-touch-icon-114x114.png" %}'>
    {% endblock %}
    <link rel='stylesheet' type='text/css' href='{% static "main.css" %}'>
    {% block fonts %}{% endblock %}
    {% block styles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
    {% block head %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>window.STATIC_URL = '{{ STATIC_URL }}';</script>
</head>
<body class="landing-page">
<div class="navbar" id="nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="navbar-brand">
                    <a href="{% url 'home' %}" class="ext-link" rel="nofollow" target="_blank">
                        <img src="{% static 'img/branding/logo.svg' %}" class="img-responsive"
                             onerror="this.src={% static 'img/branding/transparent-logo.png' %};this.onerror=null;"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 navbar-contact text-right">
                <i class="fa fa-phone fa-pull-right fa-2x" style="margin-top:0.15em"></i>
                <p class="phone-tollfree">1 (866) 343-7242 </p>
                <p class="phone-local">+001 (203) 779-6342</p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="top-container">
    <h1 style="margin-bottom:0;">{% block landingHeadingText %}{% endblock %}
        <small class="prelist light-weight">{% block landingSubHeadingText %}{% endblock %}</small>
    </h1>
    <p class="lead" style="margin:initial!important;">{% block landingLeadText %}{% endblock %}</p>
    {% block landingfeature %}{% endblock %}

    {% block calloutTryFree %}
        <section class="vert-offset-top-2 vert-offset-bottom-2">
            {% block tryFreeCallout %}{% include 'partials/try-free-callout.html' %}{% endblock %}
        </section>
    {% endblock %}

    {% block maincontent %}{% endblock %}

    {% include 'components/brands-you-trust.html' %}
</div>


<button type="button" class="go2top animated" data-jump="#top-container" style="opacity: 0;">
    <i class="fa fa-arrow-up fa-2x"></i>
</button>

<script src="{% static 'build.js' %}" async="true"></script>

{% include 'base/analytics.html' with remarketing=True %}

{% block body_scripts %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
