{% load static %}
<style>
    .integration-logos [class^='sprite-'] {
        margin:0 auto;
        width: 100px;
        height: 33px;
    }
</style>
<div class="row integration-logos padded">
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-confluence"></div>
    </div>
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-ansible"></div>
    </div>
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-jira"></div>
    </div>
    <div class="visible-xs-block padded"></div>
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-puppetlabs"></div>
    </div>
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-chef"></div>
    </div>
    <div class="col-xs-4 col-sm-2">
        <div class="sprite-servicenow"></div>
    </div>
</div>
