{% load i18n %}
<div class="row padded vert-offset-bottom-1">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="try-free-callout flat-top flat-bottom is-table-row xs-center">
            <div class="col-sm-8">
                <h2>{% trans "Try Device42 for Free" %}!</h2>
                <p class="text-default font-stack-roboto">{% trans "Making the switch is easy with migration utilities and imports." %}</p>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 text-center">
                <a class="btn btn-warning btn-xs text-strong center-block"
                   href="{% url 'download' %}">{% trans "Download" %}<br>{% trans "Trial Now!" %}</a>
            </div>
        </div>
    </div>
</div>
